**/node_modules
**/docker-compose.yml
**/docker-compose.prod.yml
**/Dockerfile
**/Dockerfile.prod
**/.dockerignore
**/nginx
**/README.MD
**/.env.development
**/.env.production
**/npm-debug.log
**/build
