# Core Packages
Django==3.2.9
djangorestframework==3.12.4
django-cors-headers==3.10.0
djangorestframework-simplejwt==5.0.0
django-fsm==2.8.0
drf-yasg==1.20.0
django-admin-interface==0.17.3
django-maintenance-mode==0.16.1
channels==2.4.0
channels-redis==3.0.1
python-decouple==3.5

 # Image Library
Pillow==9.0.0

# Postgres Deps
psycopg2-binary==2.9.2

# Coding Standards
black==21.11b1
flake8==4.0.1
pylint==2.11.0
isort==5.10.1

# Server
gunicorn==20.1.0
daphne==2.5.0

# Testing
coverage==6.1.2
pytest-django==4.4.0
pytest-asyncio==0.16.0
parameterized==0.8.1

# Loggers
ipython==7.29.0
django-debug-toolbar==3.2.2
django-extensions==3.1.5

# Other Deps
colorlog==6.6.0
